@charset "UTF-8";

body {
	background-color: azure;
	text-align: center;
	margin: 20px;
	padding: 15px;
}

h1 {
	margin-left: 40px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  transition-duration: 0.5s;
}

.button:hover {background-color: #e7e7e7;}