<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
<title>E-diary</title>
</head>
<body>

	<h1>Üdvözöllek Admin!</h1>
	<div class="menu">
		<a th:href="@{/add_user}">ÚJ felhasználó felvétele</a>
	</div>

	Your role:
	<div sec:authentication="principal.authorities"></div>
	<form th:action="@{/logout}" method="post">
		<input class="button" type="submit" value="Sign Out" />
	</form>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Felhasználónév</th>
			<th>Jelszó</th>
			<th>Név</th>
			<th>Email</th>
			<th>Aktiválva</th>
			<th>Szerep</th>
		</tr>
		<tbody>
			<tr th:if="${customUser.empty}">
				<td colspan="5">There are no users to show</td>
			</tr>
			<tr th:each="customUser : ${customUser}">
				<td><span th:text="${customUser.userId}"></span></td>
				<td><span th:text="${customUser.userName}"></span></td>
				<td><span th:text="${customUser.password}"></span></td>
				<td><span th:text="${customUser.fullName}"></span></td>
				<td><span th:text="${customUser.email}"></span></td>
				<td><span th:text="${customUser.activated}"></span></td>
				<td><span th:text="${customUser.roleType}"></span></td>
				<td><a th:href="@{/delete/} + ${customUser.userId}">Felhasználó
						eltávolítása</a></td>

			</tr>

		</tbody>
	</table>

</body>
</html>